%% -*- mode: erlang -*-
{cover_enabled, true}.

{erl_opts, [
    debug_info,
%    warn_export_all,
    warn_obsolete_guard,
%    warn_unused_import,
    warn_unused_vars,
    warn_shadow_vars,
    warnings_as_errors
]}.

{clean_files, ["test/*.beam"]}.
{ct_extra_params, "-sname whizz_test -ct_hooks cth_surefire -logdir logs"}.
{ct_use_shortnames, true}.
{cover_export_enabled, true}.

{edoc_opts, [{doclet, edown_doclet},
             {app_default, "http://www.erlang.org/doc/man"},
             {doc_path, []},
             {top_level_readme,
              {"./doc/README.md",
               "https://github.com/darach/dq", "master"}}]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{deps, [
    {edown, ".*", {git, "git://github.com/uwiger/locks.git", {tag, "v0.2.4"}}},
    {locks, ".*", {git, "git://github.com/uwiger/locks.git", {branch, "master"}}}
]}.
